<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kip.coach">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kip.coach.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.SchoolDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.LessonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.LessonListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.HelpActivity" />
        <activity android:name="com.kip.coach.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kip.coach.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.kip.coach.AllcategoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.RecommendedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.CertificatesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.GamesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.SchoolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.CraftsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.InstrumentsActivity" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.kip.coach.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kip.coach.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kip.coach.StarterActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>